n8n/ctrlhits_workflow_template.json
{
  "name": "ctrlhits Discovery + Approval",
  "description": "",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 10
            }
          ]
        },
        "feedUrl": "https://ctrlhits.online/films-hd/hevc-1080p-news/rss.xml"
      },
      "id": "wf2-node-0000",
      "name": "RSS 1080p",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        432,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Multi-item: process EVERY new RSS item, not just the first.\nconst out = [];\nfor (const it of $input.all()) {\n  const i = it.json;\n  const title = i.title || '';\n  const link = i.link || i.guid || '';\n  const ym = title.match(/\\((\\d{4})\\)/);\n  const year = ym ? ym[1] : null;\n  const cleanTitle = title.replace(/\\s*\\(\\d{4}\\).*$/, '').trim();\n  const nm = link.match(/\\/(\\d+)-/);\n  const newsId = nm ? nm[1] : null;\n  if (!cleanTitle || !year || !newsId) continue;\n  out.push({ json: { cleanTitle, year, newsId, articleUrl: link } });\n}\nreturn out;\n"
      },
      "id": "wf2-node-0001",
      "name": "Extract 1080p Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        16
      ]
    },
    {
      "parameters": {
        "url": "https://api.themoviedb.org/3/search/movie",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.cleanTitle }}"
            },
            {
              "name": "year",
              "value": "={{ $json.year }}"
            },
            {
              "name": "language",
              "value": "it"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {TMDB_READ_TOKEN}"
            }
          ]
        },
        "options": {}
      },
      "id": "wf2-node-0002",
      "name": "TMDb Search 1080p",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Multi-item: pair each TMDb response with its Extract item by index.\n// The HTTP node ran once per Extract output item, preserving order, so\n// tmdbItems[idx] corresponds to extractItems[idx].\nconst tmdbItems = $input.all();\nconst extractItems = $('Extract 1080p Info').all();\nconst out = [];\nfor (let idx = 0; idx < tmdbItems.length; idx++) {\n  const tmdb = tmdbItems[idx].json;\n  const prev = extractItems[idx].json;\n  const results = tmdb.results || [];\n  if (!results.length) continue;\n  const m = results[0];\n  out.push({ json: {\n    tmdbId: m.id, tmdbTitle: m.title,\n    year: prev.year, newsId: prev.newsId,\n    articleUrl: prev.articleUrl, cleanTitle: prev.cleanTitle\n  }});\n}\nreturn out;\n"
      },
      "id": "wf2-node-0003",
      "name": "Process TMDb 1080p",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        16
      ]
    },
    {
      "parameters": {
        "url": "https://ctrlhits.online/films-uhd/uhd-x265-2160p-news/rss.xml",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "wf2-node-0004",
      "name": "Fetch 4K RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Multi-item: build one Telegram notification per movie. The 4K RSS text is the\n// same feed for every movie, so fetch it once outside the loop.\nconst movies = $('Process TMDb 1080p').all();\nconst rss4kResp = $('Fetch 4K RSS').first().json;\nconst rss4kText = typeof rss4kResp === 'string' ? rss4kResp : (rss4kResp.data || rss4kResp.body || '');\nconst itemsRaw = rss4kText.match(/<item>[\\s\\S]*?<\\/item>/gi) || [];\n\nconst store = $getWorkflowStaticData('global');\nif (!store.pending) store.pending = {};\n// MarkdownV2 escape — now includes '-' (Telegram reserves it; the omission was\n// crashing notifications for any title containing a hyphen).\nconst esc = s => String(s).replace(/([_*[\\]()~`>#+\\-=|{}\\\\.!])/g, '\\\\$1');\n\nconst out = [];\nfor (const mv of movies) {\n  const prev = mv.json;\n\n  let has4k = false, articleUrl4k = null, newsId4k = null;\n  const word0 = prev.cleanTitle.toLowerCase().split(/\\s+/)[0];\n  for (const it of itemsRaw) {\n    const tm = it.match(/<title>(.*?)<\\/title>/);\n    const lm = it.match(/<link>(.*?)<\\/link>/) || it.match(/<guid[^>]*>(.*?)<\\/guid>/);\n    if (!tm || !lm) continue;\n    const t4 = tm[1].replace(/&amp;/g, '&').replace(/&#39;/g, \"'\");\n    if (t4.includes('(' + prev.year + ')') && t4.toLowerCase().includes(word0)) {\n      has4k = true;\n      articleUrl4k = lm[1];\n      const n4m = lm[1].match(/\\/(\\d+)-/);\n      newsId4k = n4m ? n4m[1] : null;\n      break;\n    }\n  }\n\n  const packageName = prev.tmdbTitle + ' (' + prev.year + ')';\n  const oldMessageId = (store.pending[prev.newsId] || {}).messageId || null;\n\n  store.pending[prev.newsId] = {\n    articleUrl: prev.articleUrl, packageName,\n    tmdbId: prev.tmdbId, cleanTitle: prev.cleanTitle, year: prev.year,\n    has4k, articleUrl4k, newsId4k, messageId: oldMessageId, messageId4k: null\n  };\n  if (has4k && newsId4k) {\n    if (!store.pending4k) store.pending4k = {};\n    store.pending4k[newsId4k] = { articleUrl4k, packageName, newsId4k, messageId4k: null };\n  }\n\n  let keyboard;\n  if (has4k) {\n    keyboard = [\n      [\n        { text: '⬇️ 1080p',       callback_data: 'dl:'     + prev.newsId },\n        { text: '⬇️ 1080p + 4K',  callback_data: 'dlboth:' + prev.newsId }\n      ],\n      [\n        { text: '⬇️ 4K only',      callback_data: '4k:'    + newsId4k    },\n        { text: '❌ Skip',               callback_data: 'skip:'  + prev.newsId }\n      ]\n    ];\n  } else {\n    keyboard = [[\n      { text: '⬇️ Download 1080p', callback_data: 'dl:'   + prev.newsId },\n      { text: '❌ Skip',                 callback_data: 'skip:' + prev.newsId }\n    ]];\n  }\n\n  const msgText = '🎥 *' + esc(prev.tmdbTitle) + ' \\\\(' + prev.year + '\\\\)*' + (has4k ? '\\n_4K x265 also available_' : '');\n\n  let tgMethod, tgBody;\n  if (oldMessageId) {\n    tgMethod = 'editMessageText';\n    tgBody = JSON.stringify({\n      chat_id: '12373499',\n      message_id: oldMessageId,\n      text: msgText,\n      parse_mode: 'MarkdownV2',\n      reply_markup: { inline_keyboard: keyboard }\n    });\n  } else {\n    tgMethod = 'sendMessage';\n    tgBody = JSON.stringify({\n      chat_id: '12373499',\n      text: msgText,\n      parse_mode: 'MarkdownV2',\n      reply_markup: { inline_keyboard: keyboard }\n    });\n  }\n  out.push({ json: { newsId: prev.newsId, tgBody, tgMethod } });\n}\nreturn out;\n"
      },
      "id": "wf2-node-0005",
      "name": "Prepare Pending + Notify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/' + $json.tgMethod }}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.tgBody }}",
        "options": {}
      },
      "id": "wf2-node-0006",
      "name": "Send 1080p Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1776,
        16
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Multi-item: each Telegram response pairs with the Prepare item of the same\n// index (Send ran once per Prepare output, order preserved).\nconst responses = $input.all();\nconst prepared = $('Prepare Pending + Notify').all();\nconst store = $getWorkflowStaticData('global');\nfor (let idx = 0; idx < responses.length; idx++) {\n  const resp = responses[idx].json;\n  const newsId = prepared[idx] && prepared[idx].json ? prepared[idx].json.newsId : null;\n  if (newsId && store.pending && store.pending[newsId] && resp.result) {\n    store.pending[newsId].messageId = resp.result.message_id;\n  }\n}\nreturn [{ json: { saved: responses.length } }];\n"
      },
      "id": "wf2-node-0007",
      "name": "Save Notification Msg ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        16
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tg-callback",
        "options": {}
      },
      "id": "wf2-node-tg-wh",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        208,
        624
      ],
      "webhookId": "ctrlhits-tg-callback"
    },
    {
      "parameters": {
        "jsCode": "\nconst raw = $input.first().json;\nconst update = raw.body || raw;\nconst cq = update.callback_query;\nif (!cq || !cq.data) return [];\nconst parts = cq.data.split(':');\nconst action = parts[0];\nconst newsId = parts.slice(1).join(':');\nreturn [{ json: {\n  action,\n  newsId,\n  callbackQueryId: cq.id,\n  messageId: cq.message?.message_id,\n  chatId: String(cq.message?.chat?.id || '12373499'),\n  rawData: cq.data\n}}];\n"
      },
      "id": "wf2-node-parse-cb",
      "name": "Parse Telegram Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        624
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/answerCallbackQuery",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ callback_query_id: $json.callbackQueryId, text: \"Processing…\" }) }}",
        "options": {}
      },
      "id": "wf2-node-0012",
      "name": "Answer Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        624
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "dl",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "skip",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "4k",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "dlboth",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            }
          ]
        },
        "options": {}
      },
      "id": "wf2-node-0013",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1104,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst inp = $input.first().json;\nconst store = $getWorkflowStaticData('global');\nconst d = (store.pending || {})[inp.newsId];\nif (!d || !d.articleUrl) return [];\n// messageId: use inp (clicked message) not d (stored, may be stale)\nreturn [{ json: { ...inp, ...d, messageId: inp.messageId } }];\n"
      },
      "id": "wf2-node-0014",
      "name": "Load 1080p Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ctrlhits.online/engine/ajax/thanks.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "{{CTRLHITS_SESSION_COOKIE}}"
            },
            {
              "name": "X-Requested-With",
              "value": "XMLHttpRequest"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "thanks",
              "value": "tanksForNews"
            },
            {
              "name": "news_id",
              "value": "={{ $json.newsId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "wf2-node-0015",
      "name": "Thanks 1080p",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        528
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Load 1080p Pending').first().json.articleUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "{{CTRLHITS_SESSION_COOKIE}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "wf2-node-0016",
      "name": "Fetch 1080p Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1776,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst raw = $input.first().json;\nconst html = typeof raw === 'string' ? raw : (raw.data || raw.body || '');\nconst prev = $('Load 1080p Pending').first().json;\nconst unesc = html.replace(/&#(\\d+);/g, (_,c) => String.fromCharCode(parseInt(c))).replace(/&amp;/g,'&');\nconst regex = /https?:\\/\\/filestore\\.me\\/[a-z0-9]+\\/[^\\s\"'<>)]+\\.(?:rar|rev)/gi;\nconst links = [...new Set(unesc.match(regex) || [])];\nif (!links.length) return [];\nreturn [{ json: { ...prev, links, linkString: links.join('\\n'), count: links.length } }];\n"
      },
      "id": "wf2-node-0017",
      "name": "Extract 1080p Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.10:3128/linkgrabberv2/addLinks",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ links: $json.linkString, packageName: $json.packageName, destinationFolder: \"/output/jd-downloading\", autoExtract: true }) }}",
        "options": {}
      },
      "id": "wf2-node-0018",
      "name": "JDownloader 1080p",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        624
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/editMessageText",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: \"12373499\", message_id: $(\"Load 1080p Pending\").first().json.messageId, text: \"✅ 1080p queued: \" + $(\"Load 1080p Pending\").first().json.packageName + \" — \" + $(\"Extract 1080p Links\").first().json.count + \" parts\", reply_markup: { inline_keyboard: [] } }) }}",
        "options": {}
      },
      "id": "wf2-node-0019",
      "name": "Edit Msg 1080p Queued",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2448,
        624
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/editMessageText",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: \"12373499\", message_id: $json.messageId, text: \"❌ Skipped\", reply_markup: { inline_keyboard: [] } }) }}",
        "options": {}
      },
      "id": "wf2-node-0024",
      "name": "Edit Msg Skipped",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        624
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst inp = $input.first().json;\nconst store = $getWorkflowStaticData('global');\nlet newsId4k = inp.newsId;\nlet d = (store.pending4k || {})[newsId4k];\nif (!d) {\n  const p = (store.pending || {})[inp.newsId];\n  if (p && p.newsId4k) {\n    newsId4k = p.newsId4k;\n    d = (store.pending4k || {})[newsId4k];\n  }\n}\nif (!d || !d.articleUrl4k) return [];\n// messageId: always use the clicked message from callback\nreturn [{ json: { ...inp, ...d, newsId: newsId4k, messageId: inp.messageId } }];\n"
      },
      "id": "wf2-node-0025",
      "name": "Load 4K Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        816
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ctrlhits.online/engine/ajax/thanks.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "{{CTRLHITS_SESSION_COOKIE}}"
            },
            {
              "name": "X-Requested-With",
              "value": "XMLHttpRequest"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "thanks",
              "value": "tanksForNews"
            },
            {
              "name": "news_id",
              "value": "={{ $json.newsId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "wf2-node-0026",
      "name": "Thanks 4K",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        912
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Load 4K Pending').first().json.articleUrl4k }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "{{CTRLHITS_SESSION_COOKIE}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "wf2-node-0027",
      "name": "Fetch 4K Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1776,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst raw = $input.first().json;\nconst html = typeof raw === 'string' ? raw : (raw.data || raw.body || '');\nconst prev = $('Load 4K Pending').first().json;\nconst unesc = html.replace(/&#(\\d+);/g, (_,c) => String.fromCharCode(parseInt(c))).replace(/&amp;/g,'&');\nconst regex = /https?:\\/\\/filestore\\.me\\/[a-z0-9]+\\/[^\\s\"'<>)]+\\.(?:rar|rev)/gi;\nconst links = [...new Set(unesc.match(regex) || [])];\nif (!links.length) return [];\nreturn [{ json: { ...prev, links, linkString: links.join('\\n'), count: links.length } }];\n"
      },
      "id": "wf2-node-0028",
      "name": "Extract 4K Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        912
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.10:3128/linkgrabberv2/addLinks",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ links: $json.linkString, packageName: $json.packageName + \" [4K]\", destinationFolder: \"/output/jd-downloading\", autoExtract: true }) }}",
        "options": {}
      },
      "id": "wf2-node-0029",
      "name": "JDownloader 4K",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        912
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/editMessageText",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: \"12373499\", message_id: $(\"Load 4K Pending\").first().json.messageId, text: \"✅ 4K queued: \" + $(\"Load 4K Pending\").first().json.packageName + \" — \" + $(\"Extract 4K Links\").first().json.count + \" parts\", reply_markup: { inline_keyboard: [] } }) }}",
        "options": {}
      },
      "id": "wf2-node-0030",
      "name": "Edit Msg 4K Queued",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2448,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Parse Telegram Callback').first().json }];\n"
      },
      "id": "wf2-node-restore-cb",
      "name": "Restore CB Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        624
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/editMessageText",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, message_id: $json.messageId, text: \"\\u23F3 Fetching 1080p links\\u2026\", reply_markup: { inline_keyboard: [] } }) }}",
        "options": {}
      },
      "id": "wf2-node-edit-dl-start",
      "name": "Edit Msg: Downloading 1080p",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/editMessageText",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, message_id: $json.messageId, text: \"\\uD83D\\uDD17 \" + $json.count + \" links found, sending to JDownloader\\u2026\", reply_markup: { inline_keyboard: [] } }) }}",
        "options": {}
      },
      "id": "wf2-node-edit-links-found",
      "name": "Edit Msg: Links Found",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/editMessageText",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, message_id: $json.messageId, text: \"\\u23F3 Fetching 4K links\\u2026\", reply_markup: { inline_keyboard: [] } }) }}",
        "options": {}
      },
      "id": "wf2-node-edit-4k-start",
      "name": "Edit Msg: Downloading 4K",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        720
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ctrlhits-test-trigger",
        "options": {}
      },
      "id": "wf2-test-trigger",
      "name": "Test Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        208,
        -80
      ],
      "webhookId": "ctrlhits-test-trigger"
    },
    {
      "parameters": {
        "jsCode": "const i = $input.first().json;\nreturn [{ json: i.body || i }];\n"
      },
      "id": "wf2-test-shim",
      "name": "Test Body Shim",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -80
      ]
    },
    {
      "id": "wf2-node-recovery-wh",
      "name": "Recovery Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        208,
        1120
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "tg-recovery",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "ctrlhits-tg-recovery"
    },
    {
      "id": "wf2-node-recovery-scan",
      "name": "Scan Null Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        1120
      ],
      "parameters": {
        "jsCode": "const store = $getWorkflowStaticData('global');\nconst pending = store.pending || {};\nconst stuck = Object.entries(pending)\n  .filter(([, d]) => !d.messageId)\n  .map(([newsId, d]) => ({ json: { newsId, ...d } }));\nif (!stuck.length) return [{ json: { noStuck: true } }];\nreturn stuck;\n"
      }
    },
    {
      "id": "wf2-node-recovery-build",
      "name": "Build Recovery Msg",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        1120
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nif (d.noStuck) return [];\nlet keyboard;\nif (d.has4k) {\n  keyboard = [\n    [\n      { text: '\\u2b07\\ufe0f 1080p',       callback_data: 'dl:'     + d.newsId },\n      { text: '\\u2b07\\ufe0f 1080p + 4K',  callback_data: 'dlboth:' + d.newsId }\n    ],\n    [\n      { text: '\\u2b07\\ufe0f 4K only',      callback_data: '4k:'    + d.newsId4k },\n      { text: '\\u274c Skip',                callback_data: 'skip:'  + d.newsId }\n    ]\n  ];\n} else {\n  keyboard = [[\n    { text: '\\u2b07\\ufe0f Download 1080p', callback_data: 'dl:'   + d.newsId },\n    { text: '\\u274c Skip',                  callback_data: 'skip:' + d.newsId }\n  ]];\n}\nconst esc = s => String(s).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\nconst title = d.cleanTitle || d.packageName;\nconst msgText = '\\ud83c\\udfa5 <b>' + esc(title) + ' (' + d.year + ')</b>'\n  + (d.has4k ? '\\n<i>4K x265 also available</i>' : '')\n  + '\\n<i>(recovery)</i>';\nconst tgBody = JSON.stringify({\n  chat_id: '12373499',\n  text: msgText,\n  parse_mode: 'HTML',\n  reply_markup: { inline_keyboard: keyboard }\n});\nreturn [{ json: { newsId: d.newsId, tgBody } }];\n"
      }
    },
    {
      "id": "wf2-node-recovery-send",
      "name": "Send Recovery Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        1120
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.tgBody }}",
        "options": {}
      }
    },
    {
      "id": "wf2-node-recovery-save",
      "name": "Save Recovery MsgId",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        1120
      ],
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst newsId = $('Build Recovery Msg').first().json.newsId;\nconst store = $getWorkflowStaticData('global');\nif (store.pending && store.pending[newsId] && resp.result) {\n  store.pending[newsId].messageId = resp.result.message_id;\n}\nreturn [{ json: { saved: true, newsId, messageId: resp.result?.message_id } }];\n"
      }
    },
    {
      "id": "wf2-node-recovery-schedule",
      "name": "Daily Recovery Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        1280
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "RSS 1080p": {
      "main": [
        [
          {
            "node": "Extract 1080p Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract 1080p Info": {
      "main": [
        [
          {
            "node": "TMDb Search 1080p",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TMDb Search 1080p": {
      "main": [
        [
          {
            "node": "Process TMDb 1080p",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process TMDb 1080p": {
      "main": [
        [
          {
            "node": "Fetch 4K RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch 4K RSS": {
      "main": [
        [
          {
            "node": "Prepare Pending + Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Pending + Notify": {
      "main": [
        [
          {
            "node": "Send 1080p Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send 1080p Notification": {
      "main": [
        [
          {
            "node": "Save Notification Msg ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Parse Telegram Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Telegram Callback": {
      "main": [
        [
          {
            "node": "Answer Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Callback": {
      "main": [
        [
          {
            "node": "Restore CB Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Load 1080p Pending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Msg Skipped",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load 4K Pending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load 1080p Pending",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load 4K Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load 1080p Pending": {
      "main": [
        [
          {
            "node": "Thanks 1080p",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Msg: Downloading 1080p",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thanks 1080p": {
      "main": [
        [
          {
            "node": "Fetch 1080p Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch 1080p Article": {
      "main": [
        [
          {
            "node": "Extract 1080p Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract 1080p Links": {
      "main": [
        [
          {
            "node": "JDownloader 1080p",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Msg: Links Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JDownloader 1080p": {
      "main": [
        [
          {
            "node": "Edit Msg 1080p Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load 4K Pending": {
      "main": [
        [
          {
            "node": "Thanks 4K",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Msg: Downloading 4K",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thanks 4K": {
      "main": [
        [
          {
            "node": "Fetch 4K Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch 4K Article": {
      "main": [
        [
          {
            "node": "Extract 4K Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract 4K Links": {
      "main": [
        [
          {
            "node": "JDownloader 4K",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JDownloader 4K": {
      "main": [
        [
          {
            "node": "Edit Msg 4K Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore CB Data": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Trigger": {
      "main": [
        [
          {
            "node": "Test Body Shim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Body Shim": {
      "main": [
        [
          {
            "node": "Extract 1080p Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recovery Webhook": {
      "main": [
        [
          {
            "node": "Scan Null Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Null Pending": {
      "main": [
        [
          {
            "node": "Build Recovery Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Recovery Msg": {
      "main": [
        [
          {
            "node": "Send Recovery Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Recovery Notification": {
      "main": [
        [
          {
            "node": "Save Recovery MsgId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Recovery Check": {
      "main": [
        [
          {
            "node": "Scan Null Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}