n8n/ctrlhits_workflow_template.json
{
  "name": "ctrlhits Discovery + Approval",
  "description": null,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 10
            }
          ]
        },
        "feedUrl": "https://ctrlhits.online/films-hd/hevc-1080p-news/rss.xml"
      },
      "id": "wf2-node-0000",
      "name": "RSS 1080p",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        208,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst i = $input.first().json;\nconst title = i.title || '';\nconst link = i.link || i.guid || '';\nconst ym = title.match(/\\((\\d{4})\\)/);\nconst year = ym ? ym[1] : null;\nconst cleanTitle = title.replace(/\\s*\\(\\d{4}\\).*$/, '').trim();\nconst nm = link.match(/\\/(\\d+)-/);\nconst newsId = nm ? nm[1] : null;\nif (!cleanTitle || !year || !newsId) return [];\nreturn [{ json: { cleanTitle, year, newsId, articleUrl: link } }];\n"
      },
      "id": "wf2-node-0001",
      "name": "Extract 1080p Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        128
      ]
    },
    {
      "parameters": {
        "url": "https://api.themoviedb.org/3/search/movie",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.cleanTitle }}"
            },
            {
              "name": "year",
              "value": "={{ $json.year }}"
            },
            {
              "name": "language",
              "value": "it"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{TMDB_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "wf2-node-0002",
      "name": "TMDb Search 1080p",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst tmdb = $input.first().json;\nconst prev = $('Extract 1080p Info').first().json;\nconst results = tmdb.results || [];\nif (!results.length) return [];\nconst m = results[0];\nreturn [{ json: {\n  tmdbId: m.id, tmdbTitle: m.title,\n  year: prev.year, newsId: prev.newsId,\n  articleUrl: prev.articleUrl, cleanTitle: prev.cleanTitle\n}}];\n"
      },
      "id": "wf2-node-0003",
      "name": "Process TMDb 1080p",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        128
      ]
    },
    {
      "parameters": {
        "url": "https://ctrlhits.online/films-uhd/uhd-x265-2160p-news/rss.xml",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "wf2-node-0004",
      "name": "Fetch 4K RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst prev = $('Process TMDb 1080p').first().json;\nconst rss4kResp = $('Fetch 4K RSS').first().json;\nconst rss4kText = typeof rss4kResp === 'string' ? rss4kResp : (rss4kResp.data || rss4kResp.body || '');\n\nlet has4k = false, articleUrl4k = null, newsId4k = null;\nconst itemsRaw = rss4kText.match(/<item>[\\s\\S]*?<\\/item>/gi) || [];\nconst word0 = prev.cleanTitle.toLowerCase().split(/\\s+/)[0];\nfor (const it of itemsRaw) {\n  const tm = it.match(/<title>(.*?)<\\/title>/);\n  const lm = it.match(/<link>(.*?)<\\/link>/) || it.match(/<guid[^>]*>(.*?)<\\/guid>/);\n  if (!tm || !lm) continue;\n  const t4 = tm[1].replace(/&amp;/g,'&').replace(/&#39;/g,\"'\");\n  if (t4.includes('(' + prev.year + ')') && t4.toLowerCase().includes(word0)) {\n    has4k = true;\n    articleUrl4k = lm[1];\n    const n4m = lm[1].match(/\\/(\\d+)-/);\n    newsId4k = n4m ? n4m[1] : null;\n    break;\n  }\n}\n\nconst store = $getWorkflowStaticData('global');\nif (!store.pending) store.pending = {};\nconst packageName = prev.tmdbTitle + ' (' + prev.year + ')';\nstore.pending[prev.newsId] = {\n  articleUrl: prev.articleUrl, packageName,\n  tmdbId: prev.tmdbId, cleanTitle: prev.cleanTitle, year: prev.year,\n  has4k, articleUrl4k, newsId4k, messageId: null, messageId4k: null\n};\n// Pre-populate pending4k so dlboth can find it without a second message step\nif (has4k && newsId4k) {\n  if (!store.pending4k) store.pending4k = {};\n  store.pending4k[newsId4k] = { articleUrl4k, packageName, newsId4k, messageId4k: null };\n}\n\nconst esc = s => String(s).replace(/([_*[\\]()~`>#+=|{}\\\\.!])/g, '\\\\$1');\nlet keyboard;\nif (has4k) {\n  keyboard = [\n    [\n      { text: '⬇️ 1080p',        callback_data: 'dl:'     + prev.newsId },\n      { text: '⬇️ 1080p + 4K',   callback_data: 'dlboth:' + prev.newsId }\n    ],\n    [\n      { text: '⬇️ 4K only',       callback_data: '4k:'    + newsId4k    },\n      { text: '❌ Skip',                callback_data: 'skip:'  + prev.newsId }\n    ]\n  ];\n} else {\n  keyboard = [[\n    { text: '⬇️ Download 1080p', callback_data: 'dl:'   + prev.newsId },\n    { text: '❌ Skip',                 callback_data: 'skip:' + prev.newsId }\n  ]];\n}\n\nconst body = JSON.stringify({\n  chat_id: '12373499',\n  text: '🎬 *' + esc(prev.tmdbTitle) + ' \\\\(' + prev.year + '\\\\)*' + (has4k ? '\\n_4K x265 also available_' : ''),\n  parse_mode: 'MarkdownV2',\n  reply_markup: { inline_keyboard: keyboard }\n});\nreturn [{ json: { newsId: prev.newsId, tgBody: body } }];\n"
      },
      "id": "wf2-node-0005",
      "name": "Prepare Pending + Notify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.tgBody }}",
        "options": {}
      },
      "id": "wf2-node-0006",
      "name": "Send 1080p Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1648,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst resp = $input.first().json;\nconst newsId = $('Prepare Pending + Notify').first().json.newsId;\nconst store = $getWorkflowStaticData('global');\nif (store.pending && store.pending[newsId] && resp.result) {\n  store.pending[newsId].messageId = resp.result.message_id;\n}\nreturn [{ json: { saved: true } }];\n"
      },
      "id": "wf2-node-0007",
      "name": "Save Notification Msg ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        128
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tg-callback",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wf2-node-tg-wh",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        208,
        512
      ],
      "webhookId": "ctrlhits-tg-callback"
    },
    {
      "parameters": {
        "jsCode": "\nconst raw = $input.first().json;\nconst update = raw.body || raw;\nconst cq = update.callback_query;\nif (!cq || !cq.data) return [];\nconst parts = cq.data.split(':');\nconst action = parts[0];\nconst newsId = parts.slice(1).join(':');\nreturn [{ json: {\n  action,\n  newsId,\n  callbackQueryId: cq.id,\n  messageId: cq.message?.message_id,\n  chatId: String(cq.message?.chat?.id || '12373499'),\n  rawData: cq.data\n}}];\n"
      },
      "id": "wf2-node-parse-cb",
      "name": "Parse Telegram Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        512
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/answerCallbackQuery",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ callback_query_id: $json.callbackQueryId, text: \"Processing…\" }) }}",
        "options": {}
      },
      "id": "wf2-node-0012",
      "name": "Answer Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        512
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "dl",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "skip",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "4k",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "dlboth",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            }
          ]
        },
        "options": {}
      },
      "id": "wf2-node-0013",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1408,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst inp = $input.first().json;\nconst store = $getWorkflowStaticData('global');\nconst d = (store.pending || {})[inp.newsId];\nif (!d || !d.articleUrl) return [];\nreturn [{ json: { ...inp, ...d } }];\n"
      },
      "id": "wf2-node-0014",
      "name": "Load 1080p Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ctrlhits.online/engine/ajax/thanks.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "{{CTRLHITS_COOKIE}}"
            },
            {
              "name": "X-Requested-With",
              "value": "XMLHttpRequest"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "thanks",
              "value": "tanksForNews"
            },
            {
              "name": "news_id",
              "value": "={{ $json.newsId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "wf2-node-0015",
      "name": "Thanks 1080p",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        304
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Load 1080p Pending').first().json.articleUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "{{CTRLHITS_COOKIE}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "wf2-node-0016",
      "name": "Fetch 1080p Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst raw = $input.first().json;\nconst html = typeof raw === 'string' ? raw : (raw.data || raw.body || '');\nconst prev = $('Load 1080p Pending').first().json;\nconst unesc = html.replace(/&#(\\d+);/g, (_,c) => String.fromCharCode(parseInt(c))).replace(/&amp;/g,'&');\nconst regex = /https?:\\/\\/filestore\\.me\\/[a-z0-9]+\\/[^\\s\"'<>)]+\\.(?:rar|rev)/gi;\nconst links = [...new Set(unesc.match(regex) || [])];\nif (!links.length) return [];\nreturn [{ json: { ...prev, links, linkString: links.join('\\n'), count: links.length } }];\n"
      },
      "id": "wf2-node-0017",
      "name": "Extract 1080p Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.10:3128/linkgrabberv2/addLinks",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ links: $json.linkString, packageName: $json.packageName, destinationFolder: \"/output/jd-downloading\", autoExtract: true }) }}",
        "options": {}
      },
      "id": "wf2-node-0018",
      "name": "JDownloader 1080p",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/editMessageText",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: \"12373499\", message_id: $(\"Load 1080p Pending\").first().json.messageId, text: \"\\u2705 1080p queued: *\" + $(\"Load 1080p Pending\").first().json.packageName.replace(/([_*[\\]()~`>#+=|{}\\\\.])/g,\"\\\\$1\") + \"*\\n_\" + $(\"Extract 1080p Links\").first().json.count + \" parts_\", parse_mode: \"MarkdownV2\", reply_markup: { inline_keyboard: [] } }) }}",
        "options": {}
      },
      "id": "wf2-node-0019",
      "name": "Edit Msg 1080p Queued",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2848,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/editMessageText",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: \"12373499\", message_id: $json.messageId, text: \"❌ Skipped\", reply_markup: { inline_keyboard: [] } }) }}",
        "options": {}
      },
      "id": "wf2-node-0024",
      "name": "Edit Msg Skipped",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1648,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst inp = $input.first().json;\nconst store = $getWorkflowStaticData('global');\nconst d = (store.pending4k || {})[inp.newsId];\nif (!d || !d.articleUrl4k) return [];\nreturn [{ json: { ...inp, ...d } }];\n"
      },
      "id": "wf2-node-0025",
      "name": "Load 4K Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ctrlhits.online/engine/ajax/thanks.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "{{CTRLHITS_COOKIE}}"
            },
            {
              "name": "X-Requested-With",
              "value": "XMLHttpRequest"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "thanks",
              "value": "tanksForNews"
            },
            {
              "name": "news_id",
              "value": "={{ $json.newsId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "wf2-node-0026",
      "name": "Thanks 4K",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        800
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Load 4K Pending').first().json.articleUrl4k }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "{{CTRLHITS_COOKIE}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "wf2-node-0027",
      "name": "Fetch 4K Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst raw = $input.first().json;\nconst html = typeof raw === 'string' ? raw : (raw.data || raw.body || '');\nconst prev = $('Load 4K Pending').first().json;\nconst unesc = html.replace(/&#(\\d+);/g, (_,c) => String.fromCharCode(parseInt(c))).replace(/&amp;/g,'&');\nconst regex = /https?:\\/\\/filestore\\.me\\/[a-z0-9]+\\/[^\\s\"'<>)]+\\.(?:rar|rev)/gi;\nconst links = [...new Set(unesc.match(regex) || [])];\nif (!links.length) return [];\nreturn [{ json: { ...prev, links, linkString: links.join('\\n'), count: links.length } }];\n"
      },
      "id": "wf2-node-0028",
      "name": "Extract 4K Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.10:3128/linkgrabberv2/addLinks",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ links: $json.linkString, packageName: $json.packageName + \" [4K]\", destinationFolder: \"/output/jd-downloading\", autoExtract: true }) }}",
        "options": {}
      },
      "id": "wf2-node-0029",
      "name": "JDownloader 4K",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/editMessageText",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: \"12373499\", message_id: $(\"Load 4K Pending\").first().json.messageId4k, text: \"✅ 4K x265 also queued\\!\", parse_mode: \"MarkdownV2\", reply_markup: { inline_keyboard: [] } }) }}",
        "options": {}
      },
      "id": "wf2-node-0030",
      "name": "Edit Msg 4K Queued",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2848,
        800
      ]
    },
    {
      "id": "wf2-node-both-01",
      "name": "Load Both Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        1000
      ],
      "parameters": {
        "jsCode": "\nconst inp = $input.first().json;\nconst store = $getWorkflowStaticData('global');\nconst d1 = (store.pending || {})[inp.newsId];\nif (!d1 || !d1.articleUrl) return [];\nconst newsId4k = d1.newsId4k;\nconst d4k = (store.pending4k || {})[newsId4k];\nif (!newsId4k || !d4k || !d4k.articleUrl4k) return [];\nreturn [{ json: { ...inp, ...d1, ...d4k } }];\n"
      }
    },
    {
      "id": "wf2-node-both-02",
      "name": "Thanks 1080p B",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        1000
      ],
      "parameters": {
        "method": "POST",
        "url": "https://ctrlhits.online/engine/ajax/thanks.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "{{CTRLHITS_COOKIE}}"
            },
            {
              "name": "X-Requested-With",
              "value": "XMLHttpRequest"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "thanks",
              "value": "tanksForNews"
            },
            {
              "name": "news_id",
              "value": "={{ $json.newsId }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "wf2-node-both-03",
      "name": "Fetch 1080p Article B",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        1000
      ],
      "parameters": {
        "url": "={{ $('Load Both Pending').first().json.articleUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "{{CTRLHITS_COOKIE}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "wf2-node-both-04",
      "name": "Extract 1080p Links B",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        1000
      ],
      "parameters": {
        "jsCode": "\nconst raw = $input.first().json;\nconst html = typeof raw === 'string' ? raw : (raw.data || raw.body || '');\nconst prev = $('Load Both Pending').first().json;\nconst unesc = html.replace(/&#(\\d+);/g, (_,c) => String.fromCharCode(parseInt(c))).replace(/&amp;/g,'&');\nconst regex = /https?:\\/\\/filestore\\.me\\/[a-z0-9]+\\/[^\\s\"'<>)]+\\.(?:rar|rev)/gi;\nconst links = [...new Set(unesc.match(regex) || [])];\nif (!links.length) return [];\nreturn [{ json: { ...prev, links, linkString: links.join('\\n'), count: links.length } }];\n"
      }
    },
    {
      "id": "wf2-node-both-05",
      "name": "JDownloader 1080p B",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        1000
      ],
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.10:3128/linkgrabberv2/addLinks",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ links: $json.linkString, packageName: $json.packageName, destinationFolder: \"/output/jd-downloading\", autoExtract: true }) }}",
        "options": {}
      }
    },
    {
      "id": "wf2-node-both-06",
      "name": "Thanks 4K B",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2848,
        1000
      ],
      "parameters": {
        "method": "POST",
        "url": "https://ctrlhits.online/engine/ajax/thanks.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "{{CTRLHITS_COOKIE}}"
            },
            {
              "name": "X-Requested-With",
              "value": "XMLHttpRequest"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "thanks",
              "value": "tanksForNews"
            },
            {
              "name": "news_id",
              "value": "={{ $('Load Both Pending').first().json.newsId4k }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "wf2-node-both-07",
      "name": "Fetch 4K Article B",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3088,
        1000
      ],
      "parameters": {
        "url": "={{ $('Load Both Pending').first().json.articleUrl4k }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "{{CTRLHITS_COOKIE}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "wf2-node-both-08",
      "name": "Extract 4K Links B",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3328,
        1000
      ],
      "parameters": {
        "jsCode": "\nconst raw = $input.first().json;\nconst html = typeof raw === 'string' ? raw : (raw.data || raw.body || '');\nconst prev = $('Load Both Pending').first().json;\nconst unesc = html.replace(/&#(\\d+);/g, (_,c) => String.fromCharCode(parseInt(c))).replace(/&amp;/g,'&');\nconst regex = /https?:\\/\\/filestore\\.me\\/[a-z0-9]+\\/[^\\s\"'<>)]+\\.(?:rar|rev)/gi;\nconst links = [...new Set(unesc.match(regex) || [])];\nif (!links.length) return [];\nreturn [{ json: { ...prev, links, linkString: links.join('\\n'), count: links.length } }];\n"
      }
    },
    {
      "id": "wf2-node-both-09",
      "name": "JDownloader 4K B",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3568,
        1000
      ],
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.10:3128/linkgrabberv2/addLinks",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ links: $json.linkString, packageName: $json.packageName + \" [4K]\", destinationFolder: \"/output/jd-downloading\", autoExtract: true }) }}",
        "options": {}
      }
    },
    {
      "id": "wf2-node-both-10",
      "name": "Edit Msg Both Queued",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3808,
        1000
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/editMessageText",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: \"12373499\", message_id: $(\"Load Both Pending\").first().json.messageId, text: \"\\u2705 1080p + 4K queued: *\" + $(\"Load Both Pending\").first().json.packageName.replace(/([_*[\\]()~`>#+=|{}\\\\.\\!])/g,\"\\\\$1\") + \"*\\n_\" + $(\"Extract 1080p Links B\").first().json.count + \" + \" + $(\"Extract 4K Links B\").first().json.count + \" parts_\", parse_mode: \"MarkdownV2\", reply_markup: { inline_keyboard: [] } }) }}",
        "options": {}
      }
    },
    {
      "id": "wf2-node-restore-cb",
      "name": "Restore CB Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        512
      ],
      "parameters": {
        "jsCode": "return [{ json: $('Parse Telegram Callback').first().json }];\n"
      }
    },
    {
      "id": "wf2-node-edit-dl-start",
      "name": "Edit Msg: Downloading 1080p",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        208
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/editMessageText",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, message_id: $json.messageId, text: \"\\u23F3 Fetching 1080p links\\u2026\", reply_markup: { inline_keyboard: [] } }) }}",
        "options": {}
      }
    },
    {
      "id": "wf2-node-edit-links-found",
      "name": "Edit Msg: Links Found",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        192
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/editMessageText",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, message_id: $json.messageId, text: \"\\uD83D\\uDD17 \" + $json.count + \" links found, sending to JDownloader\\u2026\", reply_markup: { inline_keyboard: [] } }) }}",
        "options": {}
      }
    },
    {
      "id": "wf2-node-edit-4k-start",
      "name": "Edit Msg: Downloading 4K",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        704
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/editMessageText",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, message_id: $json.messageId, text: \"\\u23F3 Fetching 4K links\\u2026\", reply_markup: { inline_keyboard: [] } }) }}",
        "options": {}
      }
    },
    {
      "id": "wf2-node-edit-both-start",
      "name": "Edit Msg: Downloading Both",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        904
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/editMessageText",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, message_id: $json.messageId, text: \"\\u23F3 Fetching 1080p + 4K links\\u2026\", reply_markup: { inline_keyboard: [] } }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "RSS 1080p": {
      "main": [
        [
          {
            "node": "Extract 1080p Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract 1080p Info": {
      "main": [
        [
          {
            "node": "TMDb Search 1080p",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TMDb Search 1080p": {
      "main": [
        [
          {
            "node": "Process TMDb 1080p",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process TMDb 1080p": {
      "main": [
        [
          {
            "node": "Fetch 4K RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch 4K RSS": {
      "main": [
        [
          {
            "node": "Prepare Pending + Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Pending + Notify": {
      "main": [
        [
          {
            "node": "Send 1080p Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send 1080p Notification": {
      "main": [
        [
          {
            "node": "Save Notification Msg ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Parse Telegram Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Telegram Callback": {
      "main": [
        [
          {
            "node": "Answer Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Callback": {
      "main": [
        [
          {
            "node": "Restore CB Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Load 1080p Pending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Msg Skipped",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load 4K Pending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Both Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load 1080p Pending": {
      "main": [
        [
          {
            "node": "Thanks 1080p",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Msg: Downloading 1080p",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thanks 1080p": {
      "main": [
        [
          {
            "node": "Fetch 1080p Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch 1080p Article": {
      "main": [
        [
          {
            "node": "Extract 1080p Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract 1080p Links": {
      "main": [
        [
          {
            "node": "JDownloader 1080p",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Msg: Links Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JDownloader 1080p": {
      "main": [
        [
          {
            "node": "Edit Msg 1080p Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load 4K Pending": {
      "main": [
        [
          {
            "node": "Thanks 4K",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Msg: Downloading 4K",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thanks 4K": {
      "main": [
        [
          {
            "node": "Fetch 4K Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch 4K Article": {
      "main": [
        [
          {
            "node": "Extract 4K Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract 4K Links": {
      "main": [
        [
          {
            "node": "JDownloader 4K",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JDownloader 4K": {
      "main": [
        [
          {
            "node": "Edit Msg 4K Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Both Pending": {
      "main": [
        [
          {
            "node": "Thanks 1080p B",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Msg: Downloading Both",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thanks 1080p B": {
      "main": [
        [
          {
            "node": "Fetch 1080p Article B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch 1080p Article B": {
      "main": [
        [
          {
            "node": "Extract 1080p Links B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract 1080p Links B": {
      "main": [
        [
          {
            "node": "JDownloader 1080p B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JDownloader 1080p B": {
      "main": [
        [
          {
            "node": "Thanks 4K B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thanks 4K B": {
      "main": [
        [
          {
            "node": "Fetch 4K Article B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch 4K Article B": {
      "main": [
        [
          {
            "node": "Extract 4K Links B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract 4K Links B": {
      "main": [
        [
          {
            "node": "JDownloader 4K B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JDownloader 4K B": {
      "main": [
        [
          {
            "node": "Edit Msg Both Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore CB Data": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}