n8n/ctrlhits_workflow_template.json
{
  "name": "ctrlhits Discovery + Approval",
  "description": null,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 10
            }
          ]
        },
        "feedUrl": "https://ctrlhits.online/films-hd/hevc-1080p-news/rss.xml"
      },
      "id": "wf2-node-0000",
      "name": "RSS 1080p",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        208,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst i = $input.first().json;\nconst title = i.title || '';\nconst link = i.link || i.guid || '';\nconst ym = title.match(/\\((\\d{4})\\)/);\nconst year = ym ? ym[1] : null;\nconst cleanTitle = title.replace(/\\s*\\(\\d{4}\\).*$/, '').trim();\nconst nm = link.match(/\\/(\\d+)-/);\nconst newsId = nm ? nm[1] : null;\nif (!cleanTitle || !year || !newsId) return [];\nreturn [{ json: { cleanTitle, year, newsId, articleUrl: link } }];\n"
      },
      "id": "wf2-node-0001",
      "name": "Extract 1080p Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        128
      ]
    },
    {
      "parameters": {
        "url": "https://api.themoviedb.org/3/search/movie",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.cleanTitle }}"
            },
            {
              "name": "year",
              "value": "={{ $json.year }}"
            },
            {
              "name": "language",
              "value": "it"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {TMDB_READ_TOKEN}"
            }
          ]
        },
        "options": {}
      },
      "id": "wf2-node-0002",
      "name": "TMDb Search 1080p",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst tmdb = $input.first().json;\nconst prev = $('Extract 1080p Info').first().json;\nconst results = tmdb.results || [];\nif (!results.length) return [];\nconst m = results[0];\nreturn [{ json: {\n  tmdbId: m.id, tmdbTitle: m.title,\n  year: prev.year, newsId: prev.newsId,\n  articleUrl: prev.articleUrl, cleanTitle: prev.cleanTitle\n}}];\n"
      },
      "id": "wf2-node-0003",
      "name": "Process TMDb 1080p",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        128
      ]
    },
    {
      "parameters": {
        "url": "https://ctrlhits.online/films-uhd/uhd-x265-2160p-news/rss.xml",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "wf2-node-0004",
      "name": "Fetch 4K RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst prev = $('Process TMDb 1080p').first().json;\nconst rss4kResp = $('Fetch 4K RSS').first().json;\nconst rss4kText = typeof rss4kResp === 'string' ? rss4kResp : (rss4kResp.data || rss4kResp.body || '');\n\n// Search 4K RSS for matching movie\nlet has4k = false, articleUrl4k = null, newsId4k = null;\nconst itemsRaw = rss4kText.match(/<item>[\\s\\S]*?<\\/item>/gi) || [];\nconst word0 = prev.cleanTitle.toLowerCase().split(/\\s+/)[0];\nfor (const it of itemsRaw) {\n  const tm = it.match(/<title>(.*?)<\\/title>/);\n  const lm = it.match(/<link>(.*?)<\\/link>/) || it.match(/<guid[^>]*>(.*?)<\\/guid>/);\n  if (!tm || !lm) continue;\n  const t4 = tm[1].replace(/&amp;/g,'&').replace(/&#39;/g,\"'\");\n  if (t4.includes('(' + prev.year + ')') && t4.toLowerCase().includes(word0)) {\n    has4k = true;\n    articleUrl4k = lm[1];\n    const n4m = lm[1].match(/\\/(\\d+)-/);\n    newsId4k = n4m ? n4m[1] : null;\n    break;\n  }\n}\n\n// Store in workflow static data\nconst store = $getWorkflowStaticData('global');\nif (!store.pending) store.pending = {};\nstore.pending[prev.newsId] = {\n  articleUrl: prev.articleUrl, packageName: prev.tmdbTitle + ' (' + prev.year + ')',\n  tmdbId: prev.tmdbId, cleanTitle: prev.cleanTitle, year: prev.year,\n  has4k, articleUrl4k, newsId4k, messageId: null, messageId4k: null\n};\n\n// Build Telegram message\nconst esc = s => String(s).replace(/([_*[\\]()~`>#+=|{}\\.!])/g, '\\\\$1');\nconst body = JSON.stringify({\n  chat_id: '12373499',\n  text: '\ud83c\udfac *' + esc(prev.tmdbTitle) + ' \\\\(' + prev.year + '\\\\)*' + (has4k ? '\\n_4K x265 also available_' : ''),\n  parse_mode: 'MarkdownV2',\n  reply_markup: {\n    inline_keyboard: [[\n      { text: '\u2b07\ufe0f Download 1080p', callback_data: 'dl:' + prev.newsId },\n      { text: '\u274c Skip', callback_data: 'skip:' + prev.newsId }\n    ]]\n  }\n});\nreturn [{ json: { newsId: prev.newsId, tgBody: body } }];\n"
      },
      "id": "wf2-node-0005",
      "name": "Prepare Pending + Notify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.tgBody }}",
        "options": {}
      },
      "id": "wf2-node-0006",
      "name": "Send 1080p Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1648,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst resp = $input.first().json;\nconst newsId = $('Prepare Pending + Notify').first().json.newsId;\nconst store = $getWorkflowStaticData('global');\nif (store.pending && store.pending[newsId] && resp.result) {\n  store.pending[newsId].messageId = resp.result.message_id;\n}\nreturn [{ json: { saved: true } }];\n"
      },
      "id": "wf2-node-0007",
      "name": "Save Notification Msg ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        128
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "wf2-node-0008",
      "name": "Poll Telegram Every 60s",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "const store = $getWorkflowStaticData('global');\nconst pending = store.pending || {};\nif (Object.keys(pending).length === 0) return [];\nreturn [{ json: { offset: (store.last_update_id || 0) } }];\n"
      },
      "id": "wf2-node-0009",
      "name": "Get Last Update ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        512
      ]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/getUpdates",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offset",
              "value": "={{ $json.offset }}"
            },
            {
              "name": "timeout",
              "value": "0"
            },
            {
              "name": "allowed_updates",
              "value": "[\"callback_query\"]"
            }
          ]
        },
        "options": {}
      },
      "id": "wf2-node-0010",
      "name": "Telegram getUpdates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst updates = (data.result || []);\nconst store = $getWorkflowStaticData('global');\nlet maxId = store.last_update_id || 0;\nconst out = [];\nfor (const u of updates) {\n  if (u.update_id >= maxId) maxId = u.update_id + 1;\n  if (!u.callback_query) continue;\n  const cq = u.callback_query;\n  const [action, newsId] = cq.data.split(':');\n  out.push({ json: {\n    action, newsId,\n    callbackQueryId: cq.id,\n    messageId: cq.message?.message_id,\n    chatId: String(cq.message?.chat?.id || '12373499'),\n    rawData: cq.data\n  }});\n}\nstore.last_update_id = maxId;\nif (!out.length) return [];\nreturn out;\n"
      },
      "id": "wf2-node-0011",
      "name": "Parse Callback Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        512
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/answerCallbackQuery",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ callback_query_id: $json.callbackQueryId, text: \"Processing\u2026\" }) }}",
        "options": {}
      },
      "id": "wf2-node-0012",
      "name": "Answer Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        512
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {},
            {},
            {},
            {}
          ]
        },
        "options": {}
      },
      "id": "wf2-node-0013",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1408,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst inp = $input.first().json;\nconst store = $getWorkflowStaticData('global');\nconst d = (store.pending || {})[inp.newsId];\nif (!d || !d.articleUrl) return [];\nreturn [{ json: { ...inp, ...d } }];\n"
      },
      "id": "wf2-node-0014",
      "name": "Load 1080p Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ctrlhits.online/engine/ajax/thanks.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "{{CTRLHITS_COOKIE}}"
            },
            {
              "name": "X-Requested-With",
              "value": "XMLHttpRequest"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "thanks",
              "value": "tanksForNews"
            },
            {
              "name": "news_id",
              "value": "={{ $json.newsId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "wf2-node-0015",
      "name": "Thanks 1080p",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        304
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Load 1080p Pending').first().json.articleUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "{{CTRLHITS_COOKIE}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "wf2-node-0016",
      "name": "Fetch 1080p Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst raw = $input.first().json;\nconst html = typeof raw === 'string' ? raw : (raw.data || raw.body || '');\nconst prev = $('Load 1080p Pending').first().json;\nconst unesc = html.replace(/&#(\\d+);/g, (_,c) => String.fromCharCode(parseInt(c))).replace(/&amp;/g,'&');\nconst regex = /https?:\\/\\/filestore\\.me\\/[a-z0-9]+\\/[^\\s\"'<>)]+\\.(?:rar|rev)/gi;\nconst links = [...new Set(unesc.match(regex) || [])];\nif (!links.length) return [];\nreturn [{ json: { ...prev, links, linkString: links.join('\\n'), count: links.length } }];\n"
      },
      "id": "wf2-node-0017",
      "name": "Extract 1080p Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.10:3128/linkgrabberv2/addLinks",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ links: $json.linkString, packageName: $json.packageName, destinationFolder: \"/output/jd-downloading\", autoExtract: true }) }}",
        "options": {}
      },
      "id": "wf2-node-0018",
      "name": "JDownloader 1080p",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/editMessageText",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: \"12373499\", message_id: $(\"Load 1080p Pending\").first().json.messageId, text: \"\u2705 1080p queued: *\" + $(\"Load 1080p Pending\").first().json.packageName.replace(/([_*[\\]()~`>#+=|{}\\.])/g,\"\\\\$1\") + \"*\", parse_mode: \"MarkdownV2\", reply_markup: { inline_keyboard: [] } }) }}",
        "options": {}
      },
      "id": "wf2-node-0019",
      "name": "Edit Msg 1080p Queued",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2848,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $('Load 1080p Pending').first().json.has4k }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf2-node-0020",
      "name": "Has 4K?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3088,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst d = $('Load 1080p Pending').first().json;\nconst body = JSON.stringify({\n  chat_id: '12373499',\n  text: '\ud83d\udcfa Also grab 4K \\\\(x265\\\\)?\\n*' + d.packageName.replace(/([_*[\\]()~`>#+=|{}\\.!])/g,'\\\\\\\\$1') + '*',\n  parse_mode: 'MarkdownV2',\n  reply_markup: {\n    inline_keyboard: [[\n      { text: '\u2705 Yes, 4K x265', callback_data: '4k:' + d.newsId4k },\n      { text: '\u27a1\ufe0f No thanks',   callback_data: 'no4k:' + d.newsId4k }\n    ]]\n  }\n});\nreturn [{ json: { newsId: d.newsId, newsId4k: d.newsId4k, tgBody: body } }];\n"
      },
      "id": "wf2-node-0021",
      "name": "Build 4K Ask",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3328,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.tgBody }}",
        "options": {}
      },
      "id": "wf2-node-0022",
      "name": "Send 4K Question",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3568,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst resp = $input.first().json;\nconst newsId = $('Build 4K Ask').first().json.newsId;\nconst newsId4k = $('Build 4K Ask').first().json.newsId4k;\nconst store = $getWorkflowStaticData('global');\nif (store.pending && store.pending[newsId] && resp.result) {\n  store.pending[newsId].messageId4k = resp.result.message_id;\n}\n// Also index by newsId4k for easy lookup in the 4k branch\nif (!store.pending4k) store.pending4k = {};\nconst d = store.pending[newsId];\nstore.pending4k[newsId4k] = {\n  articleUrl4k: d.articleUrl4k, packageName: d.packageName,\n  newsId4k, messageId4k: resp.result?.message_id\n};\nreturn [{ json: { saved: true } }];\n"
      },
      "id": "wf2-node-0023",
      "name": "Save 4K Question Msg ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3808,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/editMessageText",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: \"12373499\", message_id: $json.messageId, text: \"\u274c Skipped\", reply_markup: { inline_keyboard: [] } }) }}",
        "options": {}
      },
      "id": "wf2-node-0024",
      "name": "Edit Msg Skipped",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1648,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst inp = $input.first().json;\nconst store = $getWorkflowStaticData('global');\nconst d = (store.pending4k || {})[inp.newsId];\nif (!d || !d.articleUrl4k) return [];\nreturn [{ json: { ...inp, ...d } }];\n"
      },
      "id": "wf2-node-0025",
      "name": "Load 4K Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ctrlhits.online/engine/ajax/thanks.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "{{CTRLHITS_COOKIE}}"
            },
            {
              "name": "X-Requested-With",
              "value": "XMLHttpRequest"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "thanks",
              "value": "tanksForNews"
            },
            {
              "name": "news_id",
              "value": "={{ $json.newsId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "wf2-node-0026",
      "name": "Thanks 4K",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        800
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Load 4K Pending').first().json.articleUrl4k }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "{{CTRLHITS_COOKIE}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "wf2-node-0027",
      "name": "Fetch 4K Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst raw = $input.first().json;\nconst html = typeof raw === 'string' ? raw : (raw.data || raw.body || '');\nconst prev = $('Load 4K Pending').first().json;\nconst unesc = html.replace(/&#(\\d+);/g, (_,c) => String.fromCharCode(parseInt(c))).replace(/&amp;/g,'&');\nconst regex = /https?:\\/\\/filestore\\.me\\/[a-z0-9]+\\/[^\\s\"'<>)]+\\.(?:rar|rev)/gi;\nconst links = [...new Set(unesc.match(regex) || [])];\nif (!links.length) return [];\nreturn [{ json: { ...prev, links, linkString: links.join('\\n'), count: links.length } }];\n"
      },
      "id": "wf2-node-0028",
      "name": "Extract 4K Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.10:3128/linkgrabberv2/addLinks",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ links: $json.linkString, packageName: $json.packageName + \" [4K]\", destinationFolder: \"/output/jd-downloading\", autoExtract: true }) }}",
        "options": {}
      },
      "id": "wf2-node-0029",
      "name": "JDownloader 4K",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_TOKEN}}/editMessageText",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: \"12373499\", message_id: $(\"Load 4K Pending\").first().json.messageId4k, text: \"\u2705 4K x265 also queued\\!\", parse_mode: \"MarkdownV2\", reply_markup: { inline_keyboard: [] } }) }}",
        "options": {}
      },
      "id": "wf2-node-0030",
      "name": "Edit Msg 4K Queued",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2848,
        800
      ]
    }
  ],
  "connections": {
    "RSS 1080p": {
      "main": [
        [
          {
            "node": "Extract 1080p Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract 1080p Info": {
      "main": [
        [
          {
            "node": "TMDb Search 1080p",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TMDb Search 1080p": {
      "main": [
        [
          {
            "node": "Process TMDb 1080p",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process TMDb 1080p": {
      "main": [
        [
          {
            "node": "Fetch 4K RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch 4K RSS": {
      "main": [
        [
          {
            "node": "Prepare Pending + Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Pending + Notify": {
      "main": [
        [
          {
            "node": "Send 1080p Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send 1080p Notification": {
      "main": [
        [
          {
            "node": "Save Notification Msg ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Telegram Every 60s": {
      "main": [
        [
          {
            "node": "Get Last Update ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Update ID": {
      "main": [
        [
          {
            "node": "Telegram getUpdates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram getUpdates": {
      "main": [
        [
          {
            "node": "Parse Callback Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback Queries": {
      "main": [
        [
          {
            "node": "Answer Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Callback": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Load 1080p Pending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Msg Skipped",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load 4K Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load 1080p Pending": {
      "main": [
        [
          {
            "node": "Thanks 1080p",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thanks 1080p": {
      "main": [
        [
          {
            "node": "Fetch 1080p Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch 1080p Article": {
      "main": [
        [
          {
            "node": "Extract 1080p Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract 1080p Links": {
      "main": [
        [
          {
            "node": "JDownloader 1080p",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JDownloader 1080p": {
      "main": [
        [
          {
            "node": "Edit Msg 1080p Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Msg 1080p Queued": {
      "main": [
        [
          {
            "node": "Has 4K?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has 4K?": {
      "main": [
        [
          {
            "node": "Build 4K Ask",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build 4K Ask": {
      "main": [
        [
          {
            "node": "Send 4K Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send 4K Question": {
      "main": [
        [
          {
            "node": "Save 4K Question Msg ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load 4K Pending": {
      "main": [
        [
          {
            "node": "Thanks 4K",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thanks 4K": {
      "main": [
        [
          {
            "node": "Fetch 4K Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch 4K Article": {
      "main": [
        [
          {
            "node": "Extract 4K Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract 4K Links": {
      "main": [
        [
          {
            "node": "JDownloader 4K",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JDownloader 4K": {
      "main": [
        [
          {
            "node": "Edit Msg 4K Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "pinData": {}
}